@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,200&display=swap");

body {
  background: white;
  font-family: "Raleway", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

input {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #26038a;
  border-radius: 10px;
  height: 50px;
  width: 394px;
  left: 64px;
  top: 200px;
}

.input-group {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.input-group label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #26038a;
}

.input-each {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

button {
  margin: auto;
  background-color: #1b42a5;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;

  border: none;
  text-align: center;
  cursor: pointer;

  width: 532px;
  height: 40px;
  box-shadow: inset 2px 2px 4px 0px rgb(69 53 104 / 20%);

  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.task {
  padding: 0 10px;
  min-width: 350px;
  height: 40px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-items: center;
}

.task label {
  padding: 10px;
}

.icon {
  width: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.trash {
  color: #f8a02c;
  cursor: pointer;
}

.edit {
  color: #89798b;
  cursor: pointer;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.task-list-red {
  background-color: #ffd0d0;
}

.task-list-yellow {
  background-color: #fffdce;
}

.task-list-green {
  background-color: #dffae8;
}

.labelforboard {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #26038a;

  background-color: white;
  border-bottom: 1px solid #26038a;
  margin: 30px;
}

.fazendo {
  margin-top: 0;
  padding: 30px 15px 0 15px;
  background-color: #dfd600;
  height: 76px;
  color: white;
  text-align: center;
}

.afazer {
  margin-top: 0;
  padding: 30px 15px 0 15px;
  background-color: #d21b1b;
  height: 76px;
  color: white;
  text-align: center;
}

.finalizado {
  margin-top: 0;
  padding: 30px 15px 0 15px;
  background-color: #0ce155;
  height: 76px;
  color: white;
  text-align: center;
}

.header1 {
  margin-top: rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #26038a;
  color: #ffffff;
  height: 7.5rem;
  font-size: 1.6rem;
  width: 100vw;
}


/* css  */
* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* overflow-x: hidden; */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

header {
  margin-top: rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #26038A;
  color: #FFFFFF;
  height: 7.5rem;
  font-size: 1.6rem;
  width: 100vw;
}

.title-register {
  width: 90vw;
  font-size: 1.2rem;
  font-weight: 700;
  color: #26038A;
  margin: 1.5rem;
  border-bottom: solid 2px #26038A;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  /* border: #26038A solid 2px; */
}

.form-box {
  /* border: #312d solid 2px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

.register-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  /* border: #312d2d solid 2px; */
}

.input-register {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15.7rem;
  border-radius: 0.5rem ;
  flex-grow: 1;
  margin: 0.4rem 0;
  border: #26038A solid 1px  ;
  color: #26038A ;
}

legend {
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 98%;
}

input, select {
  border: none;
  margin: 0.1rem 0;
  width: 98%;
}

input:focus, select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.register-btn{
  background-color: #26038A;
  
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.5rem 8rem;
}

.board-box {
  /* border: solid green 2px; */
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.task-status {
  display: flex;
  flex-direction: column;
  display: flex;
  /* border: solid blue 2px; */
  align-items: center;
  max-width: 40rem;
  word-break: break-all;
}

span{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.2rem;
  width: 100%;
  padding: 0.5rem 0rem;
  min-width: 12.5rem;
}

.red {
  background-color: #D21B1B ;
}

.yellow {
  background-color: #DFD600;
}

.green {
  background-color: #0CE155;
}

.card-box-red {
  font-size: 1rem;
  border: solid #D21B1B 1px ;
  margin-top: 0.2rem;
  width: 100%;
  background-color: #FFD0D0;
}

.card-box-yellow {
  font-size: 1rem;
  border: solid #DFD600 1px ;
  margin-top: 0.2rem;
  width: 100%;
  background-color: #FFFDCE ;
}

.card-box-green {
  font-size: 1rem;
  border: solid #0CE155 1px ;
  margin-top: 0.2rem;
  width: 100%;
  background-color: #DFFAE8 ;
}

p {
  color: #1B42A5 ;
  font-size: 1rem;
  font-weight: 500;
}